*{
    text-align: center;
}


img{
    height: 150px;
}
.description{
    font-size: 20px;
}
.cook-time{
    font-weight: bold;
}
.ingredients li {
    list-style: square;
    list-style-position: inside;
     text-align: center;
}
p.time {
    color: gray;
}
.citation .external-link{
    color: SeaGreen;
}
h1 h2 p li{
    font-family: Helvetica;
}
.abc{
    list-style-position: inside;
    text-align: center;
}
